$link-clr-default: #d0d4d4;
$link-stroke-clr: #474747;
$link-clr-recovered: #7e9345;
$link-clr-active: #d09932;
$link-clr-deaths: #be4e3a;
$node-clr-geo: #11548f;
$header-font-clr: #fff;
$header-font-family: 'Roboto', sans-serif;
$body-font-family: 'Raleway', sans-serif;
$bg-clr: #d0d4d4;
$chart-bg-clr: #fff;
$header-bg-clr: #344555;
$body-font-clr: #252525;

$leader-card-bg-clr: #fff;
$leader-title-txt-clr: #fff;
$footer-text-clr: #fff;

$content-max-width: 1200px;

$breakpoints-leader-board-portrait: 715px;
$breakpoints-leader-board-mobile: 480px;

h1,
h2,
h3,
h4 {
    font-family: $header-font-family;
    color: $header-font-clr;
    margin: 4px 0px;
    font-weight: 300;
}

body {
    margin: 0px;
    font-family: $body-font-family;
    background-color: $bg-clr;
    color: $body-font-clr;
}

button {
    background-color: $header-bg-clr;
    color: $header-font-clr;
    font: $body-font-family;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}
// derived from https://www.filamentgroup.com/lab/select-css.html
.select-css {
    display: block;
    font-size: 16px;
    font-family: $body-font-family;
    font-weight: 700;
    color: $body-font-clr;
    line-height: 1.3;
    padding: 2px 2px 2px 5px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23344555%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;

    &::-ms-expand {
        display: none;
    }
    &:hover {
        border-color: #888;
    }
    &:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }
    & option {
        font-weight: normal;
    }
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $header-bg-clr;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: $content-max-width;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;

    padding: 10px 10px;

    .header-title {
        margin-bottom: 8px;
    }
}

#timestamp-label {
    font-style: italic;
    font-weight: 100;
    font-size: 1rem;
}

.country-dropdown {
    display: flex;
    flex-direction: column;

    & label {
        color: #fff;
        font-size: 1.1rem;
    }
}

.link {
    fill: none;
    stroke: $link-stroke-clr;
    stroke-opacity: 0.2;

    &.recovered {
        stroke: $link-clr-recovered;
    }

    &.active {
        stroke: $link-clr-active;
    }

    &.deaths {
        stroke: $link-clr-deaths;
    }

    &:hover {
        stroke-opacity: 0.5;
    }
}

.node {
    &.deaths {
        fill: $link-clr-deaths;
    }
    &.recovered {
        fill: $link-clr-recovered;
    }
    &.active {
        fill: $link-clr-active;
    }
    &.geo {
        fill: $node-clr-geo;
    }
}

.chart-container {
    margin: 5px;
    max-width: $content-max-width;
    width: calc(100% - 20px);
    align-self: center;
    flex: 1 0 auto;
}

#chart {
    width: 100%;
    height: auto;
    font-family: $body-font-family;
    font-size: 16px;
    background-color: $chart-bg-clr;
}

#countries {
    font-family: $body-font-family;
    font-size: 18px;
}

.leader-board-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#leader-board {
    width: 100%;
    max-width: $content-max-width;
    padding: 5px 10px;
}

.leader-board-table {
    background-color: #fff;
    border-collapse: collapse;
    border: 0px;

    .leader-board-title {
        font-family: $header-font-family;
        font-weight: 300;
        font-size: 1.1rem;
        color: $leader-title-txt-clr;
        background-color: $header-bg-clr;
        width: 100%;
        text-align: center;
        padding: 5px 10px;
        @media screen and (max-width: $breakpoints-leader-board-portrait) {
            font-size: 0.9rem;
            white-space: pre;
        }

        @media screen and (max-width: $breakpoints-leader-board-mobile) {
            font-size: 0.7rem;
            white-space: pre;
        }
    }

    .leader-board-value {
        font-family: $header-font-family;
        font-weight: 500;
        font-size: 2rem;
        padding: 5px 20px;
        text-align: center;
        border-left: 1px solid $bg-clr;

        &:first-child {
            border-left: none;
        }

        @media screen and (max-width: $breakpoints-leader-board-portrait) {
            font-size: 1.3rem;
            padding: 5px 15px;
        }

        @media screen and (max-width: $breakpoints-leader-board-mobile) {
            font-size: 0.8rem;
            padding: 5px 10px;
        }

        &.deaths {
            color: $link-clr-deaths;
        }

        &.active {
            color: $link-clr-active;
        }

        &.recovered {
            color: $link-clr-recovered;
        }

        &.confirmed {
            color: $node-clr-geo;
        }
    }
}

.notes {
    display: block;
    box-sizing: border-box;
    max-width: $content-max-width;
    background-color: $chart-bg-clr;
    align-self: center;
    color: $body-font-clr;
    margin: 5px 10px;
    padding: 20px 80px;
    & h2,
    & h3 {
        color: $body-font-clr;
        font-weight: 400;
    }
    p {
        font-size: 1.3rem;
    }
    a {
        color: $header-bg-clr;
    }
    @media screen and (max-width: $breakpoints-leader-board-mobile) {
        padding: 20px 20px;
        & h2 {
            font-size: 1.2rem;
        }
        & h3 {
            font-size: 1rem;
        }
        p {
            font-size: 0.9rem;
        }
    }

    .hidden {
        display: none;
    }

    .formula {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 1.2rem;

        margin: 2px 0px;

        @media screen and (max-width: $breakpoints-leader-board-mobile) {
            font-size: 0.9rem;
        }
    }
}

.centered {
    display: flex;
    justify-content: center;
}

.footer {
    height: 40px;
    display: flex;
    color: $footer-text-clr;
    background-color: $header-bg-clr;
    justify-content: center;
    align-items: center;

    .footer-item {
        padding: 2px 10px;
        border-right: 2px solid $footer-text-clr;
        font-family: $body-font-family;
        font-weight: 100;
        font-style: italic;

        a {
            color: $footer-text-clr;
        }

        &:last-child {
            border-right: none;
        }
    }
}
